div {
    /* border: 1px solid black; */
}
body {
    margin: 0;
    /* width: 100%; */
    /* height: 100%; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vmin;
}
.page {
    display: grid;
    /* flex-direction: column; */
    /* align-items: ; */
    /* justify-content: stretch; */
    background-color: white;

    grid-template-rows: 1fr 9fr;
    height: 100vh;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: rgb(60, 121, 201);
    box-shadow: 0 0 10px 0 black;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn {
    padding: 1vw 2vw;
    border: 0.4vw solid black;
    border-radius: 1vw;
    margin-top: 2vw;
    transition: background-color 0.5s, color 0.5s;
}
.btn:hover {
    transition: background-color 0.5s, color 0.5s;
    background-color: black;
    color: white;
    cursor: pointer;
}
.backgroundColor {
    /* display: flex; */
    /* justify-content: space-between; */
    font-size: 5vmin;
    font-weight: bold;
    background-color: black;
    color: white;
    padding: 1vw 2vw;
    border-radius: 1vw;
}
